html
  head
    title= title
    link(rel="stylesheet", href="/public/css/links.css")
  body
    h1.links-header= content
    a(href="https://work.weixin.qq.com/ca/cawcdeb56056c3ac53")= "跳转微信1" 

    script(src="/public/js/rem.js") 