html
  head
    title= title
    link(rel="stylesheet", href="/public/css/links.css")
  body
    div.container
      h1.links-header= title 
      p.content= content
      a.link(href="https://work.weixin.qq.com/ca/cawcdeb56056c3ac53")= "跳转微信1" 

    script(src="/public/js/rem.js") 